/* CARD BASICO*/

.md-card{
    padding: 25px;
    box-shadow: 0 2px 3px 2px rgb(212, 212, 212);
    border-radius: 3px;
    display: inline-block;
    min-width: 150px;
    width: 100%;
    overflow: hidden;
}

/* CARD BASICO*/

