*{
    font-family: sans-serif;
}
.formContainer{
    display: inline-block;
    width: 100%;
}

/* TEXT INPUT */

.textForm{
    font-size: 14px;
    border: 1px solid #ddd;
    background: transparent;
    border-radius: 3px;
    padding: 0 10px;
    color: #777;
    height: 35px;
    width: 250px;
    margin: 10px;
    vertical-align: middle;
    align-content: center;
    outline: none;
}

/* TEXT INPUT */


/* MD LABEL */
.md-label{
    color: #777;
    margin: 0px;
    font-size: 14px;
    padding: 12px 0;
}

/* MD LABEL */


/* MD INPUT */

.md-textForm{
    position: relative;
    min-width: 100px;
    min-height: 45px;
    margin: 0px;
    margin-top: 0;
    display: flex;
    align-items: flex-end;
}

.md-textForm input{
    border: 0 solid black;
    border-bottom: 1px solid #ccc;
    position: absolute;
    outline: none;
    width: 100%;
    font-size: 14px;
    transition:0.2s ease all; 
    color: #777;
}

.md-textForm input:focus{
    border-bottom: 2px solid rgb(62, 178, 255);
}

.md-textForm label{
    position: absolute;
    top: 18px;
    color: #777;
    font-size: 14px;
    transition:0.2s ease all; 
}

.md-textForm input:focus ~ label{
    top: 5px;
    font-size: 10px;
    color: rgb(62, 178, 255);
}

.md-textForm input:valid ~ label{
    top: 5px;
    font-size: 10px;
}

/* MD INPUT */

/* SELECT */


.md-selectForm{
    width: 250px;
    height: 40px;
    margin: 5px;
    align-items: center;
    border: 0 solid black;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    color: #777;
    cursor: pointer;
    padding-top: 9px;
}

.md-selectForm option{
    color: rgb(62, 178, 255);
}

.md-selectForm option[selected]{
    background: #ddd;
}

.md-selectForm option[disabled]{
    color: #ccc;
}

/* SELECT */


/* FILE INPUT */

.fileForm{
    position: relative;    
    overflow: hidden;
    width: 45px;
    height: 45px;
    vertical-align: middle;
    margin: 5px;
    background: rgb(0, 191, 255);
    border-radius: 100px;
    box-shadow: 0px 1.5px 3px 1px #cdcdcd;
    outline: none;
}

.fileForm:hover{    
    box-shadow: 0px 1.5px 5px 1px rgb(0, 139, 185);
}

.fileForm label{
    font-size: 22px;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.fileForm input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    margin: 0;
    cursor: pointer;
}

/* FILE INPUT */

/* BOTONES */

.btnForm.button{
    padding: 0 30px;
    margin: 5px;
    height: 40px;
    font-weight: 700;
    font-size: 11px;
    vertical-align: middle;
    border: 0 solid grey;
    background: rgb(76, 174, 255);
    border-radius: 2.5px;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 1.5px 3px 1px #cdcdcd;
    outline: none;
}

.btnForm.button:hover{    
    box-shadow: 0px 1.5px 5px 3px #cdcdcd;
}

.btnForm.btn-rounded{
    padding: 0 30px;
    margin: 5px;
    height: 40px;
    font-weight: 700;
    font-size: 11px;
    vertical-align: middle;
    border: 0 solid grey;
    background: rgb(51, 255, 0);
    border-radius: 100px;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 1.5px 3px 1px #cdcdcd;
    outline: none;
}

.btnForm.btn-rounded:hover{    
    box-shadow: 0px 1.5px 5px 3px #cdcdcd;
}

.btnForm.btn-outline{
    padding: 0 30px;
    margin: 5px;
    height: 40px;
    font-weight: 700;
    font-size: 11px;
    vertical-align: middle;
    border: 0 solid grey;
    background: white;
    border: 2px solid rgb(255, 208, 0);
    border-radius: 2.5px;
    text-transform: uppercase;
    color: rgb(255, 208, 0);
    box-shadow: 0px 1.5px 5px 1px #cdcdcd;
    outline: none;
}

.btnForm.btn-outline:hover{    
    box-shadow: 0px 2px 5px 2.2px #cdcdcd;
}

.btnForm.btn-roundline{
    padding: 0 30px;
    margin: 5px 0;
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 11px;
    vertical-align: middle;
    border: 0 solid grey;
    background: transparent;
    border: 2px solid rgb(0, 191, 255);
    border-radius: 100px;
    text-transform: uppercase;
    color: rgb(0, 191, 255);
    outline: none;
}

.btnForm.btn-roundline:hover{    
    box-shadow: 0px 2px 5px 2.2px #cdcdcd;
}

/* BOTONES */


/* SWITCH */

.switch{
    position: relative;
    background: rgb(185, 185, 185);
    outline: none;
    width: 40px;
    height: 12px;
    vertical-align: middle;
    border-radius: 20px;
    margin: 16px 5px;
    float: right;
}

.switch input{
    position: absolute;
    opacity: 0;
    outline: none;
    top: -50%;
    width: 100%;
    height: 200%;
}

.switch .slider{
    top: -4px;
    left: -10%;
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(224, 224, 224);
    border-radius: 20px;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 .5px 5px 1px rgb(141, 141, 141);
    transition: .3s ease-in-out;
}

.switch input[type="checkbox"]:checked ~ .slider{
    transform: translateX(130%);
    background: rgb(192, 75, 228);
}


/* SWITCH */



input[type=date]::-webkit-inner-spin-button {
    height: 100%;
}

input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

